# --- General Output Directories ---
/outputs_dig_vanilla/
/output_trangle/
/examples/outputs/
outputs/
outputs/**
test
test/**
# --- Temporary/Compiled Files ---
*.tmp
*.log
*__pycache__/
.gitignore
*.pyc
env.sh
example_script.py
# --- Python Build/Metadata ---
/trangle.egg-info/
/trangle/nohup.out
/trangle/__pycache__/
/compare_stcrdb.ipynb

# --- Repository Specific Files ---
*/test/
/imgt_variable/
/old/
/experiments/
/20250626_0335226_summary.tsv

# --- Generic Visualization Folders (Redundant if 'outputs/' is covered, but safe) ---
*/vis/